Django>=4.2,<5.0
djangorestframework>=3.14
psycopg2-binary>=2.9
djangorestframework-simplejwt>=5.3
drf-yasg>=1.21
django-filter>=25.2
django-environ>=0.11
Faker>=22.0
pytest>=7.4
pytest-django>=4.7
pytest-cov>=4.1
ruff>=0.4
